@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'aos/dist/aos.css';
@import 'swiper/css';
@import 'swiper/css/pagination';

.swiper-pagination {
   position: absolute !important;
  bottom: -30px !important;  /* adjust as needed */
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 10;
  
}
.custom-shape-divider-top {
  position: relative;
  top: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top svg {
  display: block;
  width: 100%;
}

